<div class="hero">
  <h2>Welcome to</h2>
  <h1>MADELINE PICKERING'S</h1>
  <h2>Unreasonable Group application</h2>
    <button class='story'>My Story</button>
    <button class='why'>Why you should hire me</button>
    <button class='skills'>SKILLZ</button>
    <button class='elephant'>
      <img src="/images/elephant.png" alt="" />
    </button>

</div>

<div class="information">
  <div class="leftcol"  id="story">
    <h2>My Story:</h2>
  </div>
  <div class="rightcol">
    <p>
      I have not always been a developer. In fact, I started off my academic and professional journey believing the only way to satisfy my insatiable curiosity and independence was to start my own impactful business. I found the highest rated school for entrepreneurship in the country, Babson College, and spent the next four years learning about turning ideas into sustainable businesses. When I graduated, I joined a start up non-profit as the Marketing Director and Donor Manager. It wasn't right for me. I was bogged down in administrative decision-making when what I really wanted to do was build cool things. I took six months to travel around the U.S. and expose myself to as many new people as possible in hopes that I would find a discipline that would let me do that.
    </p>
    <p>
      I met a fellow rock climber in British Columbia who was traveling the world and freelance developing. He was creative, stimulated by his work, and putting time into projects with real impact in the world. I sat down the next week and spent 40 hours coding to see if I would like it. The rest is history.
    </p>
    <p>
      I spent three months in a full-time User Experience Design program (I think this is essential for being a systems-thinking front end developer) and then worked as an apprentice at a development agency (and B corporation) called <a href="http://dojo4.com/">Dojo4</a>. Self-learning was going well, but I wanted to expedite the process and decided to attend the full stack program at Galvanize. At Galvanize, I've learned CSS with Bootstrap and SASS, HTML(5), jQuery, and many facets of back-end Javascript (node, express, server-side templating, knex/postgres database). I'll be learning Angular and React in the next month.
    </p>
    <button class='why'>Why you should hire me</button>
  </div>
  <div class="leftcol" id="why">
    <h2>Why you should hire me:</h2>
  </div>
  <div class="rightcol">
    <h3>I understand the complexity of building businesses that are both sustainable and positively impact the world.</h3>
    <p>
     I worked for an entrepreneurship center in Rwanda where I got a strong dose of humility after struggling to see the impacts of a year of effort. We had been trying to teach entrepreneurship to high school students in rural parts of East Africa, but it was clear they weren't absorbing our curriculum. After reexamining the problem we were trying to solve (lack of economic mobility and growth), we realized that before we taught the technical skills of entrepreneurship, we needed to change the lack of self-efficacy in those regions, which was perpetuated by rural African culture and Western aid. First-hand experiences like these give me a framework for understanding the needs of the Unreasonable ecosystem, which will allow me to help build a platform that addresses their most pressing issues and stresses.
    </p>
    <h3>I thrive off turning seemingly confusing and disjointed data into something usable.</h3>
    <p>
       The first time I saw the potential impact of data was in 2013 when I was put in charge of 'proving' the benefits of a solar power program in Fort Portal, Uganda. The only issue was that the organization was not selling the power systems, they were giving them away, which meant very little financial data to work with. So I looked for other metrics, eventually building an SROI (social return on investment) model to present the economic, social, and emotional benefits of solar power for people in poverty. I am excited at the prospect of building a quantitative and qualitative model for the ventures in the Unreasonable Group ecosystem and using my skills in d3.js to help those ventures understand their KPIs.
    </p>
    <h3>I will create a strong synergy with the UX/UI designer on this project.</h3>
    <p>
       Aside from the various front end development skills I have (see a list on my resume), I also completed a UX/UI program where I delved into user surveys, building personas, A/B testing, high-fidelity mock-ups, and clickable prototypes. Although development is my forte, my UX/UI skills will allow me to create a dynamic and symbiotic collaboration with the UX designer on board. I believe strongly that the right people working together are more than a sum of their parts.
    </p>
    <h3>I've got the fire, baby!</h3>
    <p>
       What makes me unique is my zeal, my limitless energy towards current passions. When I decide to do something, I pursue it with 100% conviction. This position with Unreasonable is one of those times when I can barely contain the energy that is building about creating this platform.
    </p>
    <button class='skills'>SKILLZ</button>
  </div>
  <div class="leftcol" id='skills'>
    <h2>HERE! Proof of my skills:</h2>
  </div>
  <div class="rightcol">
    <h3>
      JQuery animation, CSS transitions, database deployment, d3.js
    </h3>
    <a href="https://programming-bubbles.herokuapp.com/">Programming Bubbles</a>
    <p>(Demo username: <strong>Testing</strong>, password: <strong>password</strong>)</p>
    <a href="https://github.com/madelinepick/q2-hackathon/blob/master/views/index.hbs">d3.js code</a>
    <h3>
      Database integration, server-side templating, CRUD with knex and postgres
    </h3>
    <a href="http://reads-assessment.herokuapp.com/books">Galvanize Reads</a>
    <p>Created as an exercise for the Galvanize Full Stack program, not as a stand alone project </p>
    <h3>
      Jquery, d3.js (animations, axes, using user inputs), data viz, complex css layout
    </h3>
    <a href="https://fuelmapper.herokuapp.com/">Fuel Mapper</a>
    <p>Keep in mind, this was created before I learned server-side templating or much about the back end in general. If I were to remake this now, it would be shareable, storeable, responsive, and less jQuery intensive.</p>
    <h3>
      Responsive Design, animations, UI design
    </h3>
    <p>
      This website! Open it on your phone or check it out on
      <a href="http://quirktools.com/screenfly/#u=http%3A//www.unreasonablemadeline.com/&w=320&h=568&a=37&s=1">Screenfly</a>.
    </p>
    <h3>Find more on my <a href="http://www.madelinepickering.com">Website</a></h3>
  </div>
  <div class="leftcol" id='elephant'>
    <h2>Addressing the</h2>
    <img src="/images/elephant.png" alt="" />
    <h2>in the room</h2>
  </div>
  <div class="rightcol">
    <p>
      I do not have a degree in computer science or graphic design. I chose a different path - one that suited my independence and urge to innovate - and joined Galvanize for their 6-month full stack program instead. This, combined with my BA in entrepreneurship and my experiences working for B corporations, non-profits, and impact-focused businesses gives me something much more important than a CS degree:
    </p>
    <h3>A unique cross-pollination of diverse interests, allowing me to bring new perspectives and an interdisciplinary mindset to the front end development role.</h3>
    <p>
      I cannot wait to talk to you more about this position.
    </p>
    <button class='contacts'>Contact Me</button>
  </div>
  <div class="leftcol" id='contacts'>
    <h2>Contacts and places to stalk me on the internet</h2>
  </div>
  <div class="rightcol">
    <a href="http://www.madelinepickering.com">Website</a><br>
    <a href="https://www.linkedin.com/in/madeline-pickering-616b4332">Linkedin</a><br>
    <a href="https://github.com/madelinepick">Github</a>
    <h3>Call me at:</h3>
    <p>541-510-5969</p>
    <h3>Email me at:</h3>
    <p>madelinepickering@gmail.com</p>
  </div>
</div>
