<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js'></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel="icon" type="image/png" href="/images/elephant.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
