<div class="trial">
  <div class="header">
    <h1 class="element" style="white-space:pre"></h1>
  </div>

  <div class="sprintRow">
    <div class="paragraph">
      <h3>Team</h3>
      <p>
        The most important part of building a tech team to make these projects happen in the given timeline is finding people who care, people who are willing to truly love the process. I have learned  through stints in pale, lifeless offices and vibrant, breathing organizations that love is what makes businesses succeed in the long-term, so this is essential for anyone on my team. Team members need to be intrinsically motivated by the mission of Unreasonable Group in order for these two projects to be completed at high caliber by September 1st.
      </p>
      <p>
        My second priority when building a team would be to find people who know how to learn quickly and who are curious about finding the most effective ways to accomplish the functionality of these projects. The development field is in a constant state of flux and growth. Individuals who are stuck in their current methods and practices would not fit well into a team that wants to build dynamic products.
      </p>
      <p>
        The end-users of both of these products will be culturally, linguistically, and professionally diverse and our team should reflect that. I have experience with nonprofits, data visualization, the entrepreneurial process, and East Africa. I would look for a team to compliment that experience - people who have worked with social networking companies, have extensive experience with Salesforce, and who have lived or traveled abroad in other regions of the world than I . And of course, since I am a UX designer and front-end developer, I certainly would look for people who excel in working with big data and back-end integration.
      </p>
      <p>
        II've found one of the biggest issues in teams I've worked on is the connection between front-end and back-end. Too often, developers work in silos and only combine their work near the end of a project. If I were to build my ideal team, I would structure it a bit differently than Unreasonable's initial plan. I would combine the UX/UI and front-end positions since these overlap consistently (and since I have experience with both) and I would add a full stack developer to function as the bridge between the UX/front-end role and the back-end position. Also, all members of the team would be expected to work outside the traditional boundaries of their position since we are such a small team (ie back-end must be willing to help with testing etc.).
      </p>
    </div>
    <div class="paragraph">
      <h3>Strategy</h3>
      <p>
        My experience with the agile methodology has always been positive, so my strategy would involve some loosely interpreted scrum structures. We'd go throw 6 sprints (work cycles), ending each one with a half-day to full-day retrospective where we would reflect and plan for the next sprint. We'd work together, in the same space with limited obstruction. We'd include times to work in other settings like co-working spaces or Unreasonable hubs (Nigeria, yes please!) to connect with others about our ideas and progress. Following is the general outline I would propose for the team, with room for adjustment at each retrospective, assuming the whole team could start June 13th.
      </p>
    </div>
    <div class='sprint'>
      <h3>SPRINT ONE:</h3>
      <h4>BONDING/LEARNING</h4>
      <h5>June 13-26</h5>
      <ul>
        <li>Bond with team - get to know each other’s strengths, interests, and personalities</li>
        <li>Gain familiarity with Unreasonable Group’s mission and current state</li>
        <li>Gain familiarity with Unreasonable's data and the KPIs used by Unreasonable ventures</li>
        <li>Talk to users! Who are they? What to do they want/need? What technologies do they currently use?</li>
        <li>Decide on stack (probably MEAN?)</li>
        <li>Decide on apps structures, functionality, and wireframe basics as a team</li>
      </ul>
    </div>
    <div class='sprint'>
      <h3>SPRINT TWO:</h3>
      <h4>DIGITAL NETWORK</h4>
      <h5>June 27-July 10</h5>
      <ul>
        <li>VP: oversee general plan set out in sprint one - continues to manifest Unreasonable's mission in the project, pair program with each team member to ensure they are on the right path.</li>
        <li>UX/FE: build out high fidelity wireframes, style guide, A/B testing for different layouts - continue to have conversations with users. Deliver basic views (mobile-first) and continue testing along the way.</li>
        <li>FS: set up overall app (if we are using a MEAN stack, they will set up the express.js app). Establish standards for connection between front-end and back-end and determine routes. Work on geo-location API.</li>
        <li>BE: set up database - determine db structure, seeding, determine scope of db needs and best framework for the db-server connection.</li>
      </ul>
    </div>
    <div class='sprint'>
      <h3>SPRINT THREE:</h3>
      <h4>DIGITAL NETWORK</h4>
      <h5>July 11-24</h5>
      <ul>
        <li>VP: work on strategy for beta testing with real users - by the end of the sprint, VP has specific people ready to use the product until September. Continue to pair program with all other members. Make additional connections with other large stakeholders (Barclays, Unreasonable Institute, potential partners).</li>
        <li>UX/FE: refine design based on feedback, increase responsiveness, continue to test.</li>
        <li>FS: work on deployment</li>
        <li>BE: work on authentication/authorization, form validation, security etc.</li>
        <li>BE and FS: work together to connect data to front-end.</li>
      </ul>
    </div>
    <div class='sprint'>
      <h3>SPRINT FOUR:</h3>
      <h4>DATA PLATFORM</h4>
      <h5> July 25-August 7</h5>
      <ul>
        <li>Repeat sprint two for second project</li>
        <li>BE: learn to work with Salesforce </li>
        <li>FE and FS: determine/implement best jobs board product to use (assuming we won't be building this)</li>
      </ul>
    </div>
    <div class='sprint'>
      <h3>SPRINT FIVE:</h3>
      <h4>DATA PLATFORM</h4>
      <h5>August 8-21</h5>
      <ul>
        <li>Repeat sprint three for second project</li>
      </ul>
    </div>
    <div class='sprint'>
      <h3>SPRINT SIX:</h3>
      <h4>WRAP UP</h4>
      <h5>August 21-September 1</h5>
      <ul>
        <li>Team comes together as a whole for the final week+</li>
        <li>Take the products to the people</li>
        <li>Click-throughs and adjustments</li>
        <li>Determine maintenance strategy</li>
        <li>Reflect BIG TIME</li>
        <li>Celebrate</li>
      </ul>
    </div>
    <button style='margin-left:1%;'><a href="/">Go Home</a></button>
  </div>
<script src="/javascripts/typed.js"></script>
<script>
  $(function(){
      $(".element").typed({
        strings: ["Technology Team", "Unreasonable Trial Project"],
        typeSpeed: 30,
        backDelay: 500,
        loop: false,
        loopCount: false,
      });
  });
</script>
</div>
