body {
  padding: 0px;
  font-family: "Lato", sans-serif;
  margin: 0px;
}
h1{
  font-size: 70px;
  color: white;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin: 0px 0px;
}

h2{
  color: #333;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin: 10px 0px;
}
p{
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10%;
}
.hero{
  background-color: rgb(39, 226, 187);
  height: 100vh;
  overflow: auto;
  padding-left: 5%;
  padding-bottom: 5%;
}
.hero > h2{
  font-weight: 100;
  color: white;
}
.information {
  display: flex;
  flex-wrap: wrap;
}
a {
  color: #333;
  font-weight: 300;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.leftcol{
  flex: 0 0 24%;
  padding: 2.5%;
  background-color: #333;
  border-bottom: 1px solid white;
}
.leftcol > h2 {
  text-align: center;
  text-transform: uppercase;
  color:white;
  font-size: 35px;
}
.leftcol > img {
  width: 50%;
  display: block;
  margin: auto;
}
.rightcol{
  flex: 0 0 65%;
  padding: 2.5%;
  border-bottom: 1px solid rgb(193, 193, 193);
}
h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
.rightcol > button {
  border: 1px solid rgb(39, 226, 187);
}
button {
  border: none;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  color: rgb(39, 226, 187);
  padding:15px;
  margin: 3px;
  font-size: 16px;
}
.elephant > img {
  height: 50px;
}
a{
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(39, 226, 187);
}
.indent > a, .indent > p {
  margin-left: 5%;
}
p.inline {
  display: inline;
  margin-left: 10px;
  font-size: 14px;
}
.trial{
  background-color:  rgb(39, 226, 187);
  padding: 50px 0px;
}
.sprintRow{
  display: flex;
  margin: 0px 15%;
  flex-wrap: wrap;
}
.paragraph{
  flex: 0 0 94%;
  margin: 1%;
  padding: 2%;
  background: white;
}
.paragraph > p{
  margin-right: 5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.sprint{
  flex: 0 0 44%;
  background: white;
  margin: 1%;
  padding: 2%;
}
.sprint > h3, .paragraph > h3 {
  display: inline-block;
  margin: 10px 0px 5px 0px;
  text-transform: uppercase;
}
.sprint > h4{
  display: inline-block;
  margin: 10px 5px 5px 0px;
  font-weight: 300;
  font-size: 16px;
}
.sprint > h5{
  margin: 5px 0px 5px 0px;
  font-size: 12px;
  font-weight: 300;

}
ul{
  margin-top: 10px;
}
li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  list-style: circle;
}
.element{
  display: inline;
  text-align: center;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-size: 70px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.header{
  width: 70%;
  margin-left: 15%;
}
@media only screen and (min-width: 650px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
  p{
    font-size: 14px;
    line-height: 17px;
  }
  h1{
    font-size: 60px;
  }
  .typed-cursor{
    font-size: 60px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size:17px ;
  }
  button, a{
    font-size: 14px;
  }
  .header{
    margin-left: 10%;
  }
  .header > h1{
    font-size: 40px;
  }
  .sprintRow{
    margin: 0px 10%;
  }
  .sprint{
    flex: 0 0 94%;
    margin: 1%;
    padding: 2%;
  }
  .paragraph > p{
    font-size: 13px;
  }
  li{
    font-size: 13px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 1){
  p{
    font-size: 14px;
    line-height: 17px;
  }
  h1{
    font-size: 35px;
  }
  .hero > h2{
    font-size: 25px;
    font-weight: 300;
  }
  h3{
    font-size: 16px;
  }
  button, a{
    font-size: 12px;
    display: block;
  }
  .leftcol{
    flex: none;
  }
  .leftcol > h2{
    font-size: 20px;
  }
  .elephant > img {
    height: 40px;
  }
  .leftcol > img {
    width: 40px;
  }
  .rightcol{
    flex: none;
  }
  .information{
    display: block;
  }
  .rightcol > button {
    display: none;
  }
  .indent > a, .indent > p {
    margin-left: 0;
  }
  .header{
    margin-left: 5%;
  }
  .sprintRow{
    margin: 0px 5%;
  }
  .sprint{
    flex: 0 0 90%;
    margin: 1%;
    padding: 4%;
  }
  .paragraph{
    flex: 0 0 90%;
    margin: 1%;
    padding: 4%;
  }
  .paragraph > p{
    font-size: 12px;
  }
  li{
    font-size: 12px;
  }
  ul{
    padding: 0px 5%;
  }
  .header > h1{
    font-size: 25px;
  }
  .typed-cursor{
    font-size: 25px;
  }
  .sprint > h3, .paragraph > h3 {
    font-size: 14px;
  }
  .sprint > h4{
    font-size: 13px;
  }
  .sprint > h5{
    font-size: 12px;
  }

}
